---
import { Picture } from '@astrojs/image/components';

import { Jobs, Logo, Paragraph } from 'components';
import { description, jobs, links } from 'data';
import { Layout } from 'layouts';
---

<Layout
  title="Callum Bonnyman, Frontend Eengineer | wrux.com"
  description={description}
>
  <header
    class="container relative flex flex-col items-center justify-center max-w-full p-8 text-center screen-min h-screen-dynamic md:p-16 lg:p-24"
  >
    <h1>
      <span class="sr-only">WRUX.com</span>
      <Logo className="mb-8 text-step-3" />
    </h1>
    <Paragraph as="h2" className="mb-8 text-primary" textStyle="overline-sm">
      Web Development Services
    </Paragraph>
    <lottie-player
      id="scroll-indicator"
      class="absolute w-16 h-16 transition-opacity duration-300 ease-in-out -translate-x-1/2 opacity-0 bottom-8 left-1/2"
      src="https://assets9.lottiefiles.com/packages/lf20_0msniqpo.json"
      background="transparent"
      speed="1"
      loop
      autoplay
    >
    </lottie-player>
  </header>
  <main>
    <section class="my-spacing">
      <div class="container mx-auto">
        <div
          class="flex flex-col items-center justify-center max-w-3xl px-8 py-16 mx-auto text-center bg-gray-900 md:py-22 md:px-16 lg:px-20"
        >
          <Picture
            class="mb-6 max-w-[10rem] rounded-full md:ml-auto md:max-w-[18rem]"
            src="/assets/callum-bonnyman.jpeg"
            widths={[160, 300, 600]}
            sizes="(max-width: 767px) 160px, 300px"
            aspectRatio="1:1"
            loading="eager"
            background="#00eacf"
            alt="Callum Bonnyman"
            width={300}
            height={300}
          />
          <Paragraph as="h2" className="mb-4 leading-none" textStyle="h1">
            Callum Bonnyman
          </Paragraph>
          <Paragraph
            as="h2"
            className="mb-8 text-secondary"
            textStyle="overline"
          >
            Frontend Engineer
          </Paragraph>
          <div class="max-w-prose">
            <Paragraph textStyle="h4">{description}</Paragraph>
          </div>
        </div>
      </div>
    </section>

    <section class="m-spacing">
      <div class="container max-w-3xl mx-auto">
        <Paragraph slot="side" as="h2" className="mb-8" textStyle="h2">
          Work Experience
        </Paragraph>
        <Jobs jobs={jobs} />
      </div>
    </section>

    <section class="bg-gray-900 my-spacing">
      <div class="container mx-auto">
        <div
          class="flex flex-col items-center justify-center max-w-3xl px-8 py-16 mx-auto text-center md:py-22 md:px-16 lg:px-20"
        >
          <div class="max-w-prose">
            <Paragraph textStyle="h4">
              Feel free to
              <a href="mailto:callum@wrux.com" class="link">contact me</a>
              to discuss freelance work opportunities. I am an experienced frontend
              developer with a proven track record of success. I am proficient in
              HTML, CSS, JavaScript, and React. I am available to work on a freelance
              basis.
            </Paragraph>
          </div>
        </div>
      </div>
    </section>
  </main>

  <footer class="m-spacing">
    <div
      class="container flex justify-between gap-8 mx-auto md:gap-12 lg:gap-16"
    >
      <Logo className="mb-8 text-step-1" />
      <nav aria-label="Footer navigation">
        <ul class="flex flex-wrap gap-8 c-p">
          {
            links.map((link) => (
              <a
                href={link.href}
                target="_blank"
                rel="nofollow noreferer"
                class="link"
              >
                {link.name}
                <span class="sr-only">(opens in new tab)</span>
              </a>
            ))
          }
        </ul>
      </nav>
    </div>
  </footer>
</Layout>

<script>
  const scrollIndicator = document.getElementById('scroll-indicator');
  const tryToShowIndicator = () =>
    scrollIndicator?.classList.toggle(
      'opacity-0',
      (window.scrollY / window.outerHeight) * 100 > 20
    );

  if (scrollIndicator) {
    document.addEventListener('DOMContentLoaded', () => {
      setTimeout(tryToShowIndicator, 250);
    });

    window.addEventListener('scroll', tryToShowIndicator, { passive: true });
  }
</script>
