---
import { Picture } from '@astrojs/image/components';
import { Icon, Logo, Section } from 'components';
import { description, jobs, links, recentWork } from 'data';
import { Layout } from 'layouts';
---

<Layout
  title="Callum Bonnyman, Frontend Eengineer | wrux.com"
  description={description}
>
  <header class="md:sticky top-0 bg-black/20 backdrop-blur-lg w-screen my-spacing z-50">
    <div class="container flex flex-col md:flex-row items-center gap-8 h-20 text-center md:text-left">
      <h1>
        <span class="sr-only">WRUX.com</span>
        <Logo animated className="text-4xl" />
      </h1>
      <div aria-hidden class="h-0.5 bg-white flex-1 hidden md:block"></div>
      <h2 class="c-overline-sm">
        Front end engineer and Freelancer
        &bullet;
        <a href="mailto:callum@wrux.com" class="link">
          Available for work
        </a>
      </h2>
    </div>
  </header>

  <main>
    <Section title="About Me">
      <div class="flex flex-col md:flex-row-reverse gap-y-8 gap-x-16">
        <figure class="flex-1">
          <Picture
            class="rounded-xl w-full"
            src="/assets/callum-bonnyman.jpg"
            widths={[160, 300, 600]}
            sizes="(max-width: 767px) 160px, 300px"
            aspectRatio="1:1"
            loading="lazy"
            background="#00eacf"
            alt="Callum Bonnyman"
            width={300}
            height={300}
          />
          <figcaption class="mt-1.5 text-xs italic text-right">Headshot generated via AI</figcaption>
      </figure>
        <div class="flex-1">
          <h3 class="mb-4 leading-none c-h1">
            Callum Bonnyman
          </h3>
          <p class="mb-8 text-primary c-overline">
            Frontend Engineer
          </p>
          <div class="max-w-prose">
            <p class="c-h4">{description}</p>
          </div>
          <nav class="mt-8 lg:mt-16" aria-label="Social links navigation">
            <ul
              class="c-p flex lg:inline-flex flex-wrap gap-4 mx-auto justify-evenly leading-none p-8 bg-gray-900 rounded-lg"
            >
              {
                links.filter(({ icon }) => !!icon).map((link) => (
                  <li>
                    <a
                      href={link.href}
                      target="_blank"
                      rel={link?.rel}
                      class="inline-block text-4xl text-primary transition-all hover:scale-125 duration-300"
                    >
                    <Icon name={link.icon} class="w-[1em] h-[1em]" />
                    <span class="sr-only">{link.text} (opens in new tab)</span>
                    </a>
                  </li>
                ))
              }
            </ul>
          </nav>
        </div>
      </div>
    </Section>

    <Section title="Work Experience">
      <div class="grid gap-16 lg:gap-24">
        {jobs.map((job, index) => (
          <article class="flex flex-col gap-2">
            <span class="inline-block text-6xl md:text-8xl font-semibold leading-none" aria-hidden>
              {String(index + 1).padStart(2, '0')}.
            </span>
            <h3 class="c-h1">{job.title}</h3>
            <span class="c-h4 text-primary">
              <span class="sr-only">Tenure:</span> {job.tenure}
            </span>
            <span class="c-h4">
              {job.company} &bullet; {job.location}
            </span>
          </article>
        ))}
      </div>
    </Section>

    <section class="my-spacing bg-gray-900">
      <div class="container py-16 lg:py-24 xl:py-32 flex flex-col lg:flex-row justify-between items-start lg:items-end gap-16">
        <div class="max-w-prose">
          <h2 class="c-h2 mb-8">Contact Me</h2>
          <p class="c-h4">
            Feel free to
            <a href="mailto:callum@wrux.com" class="link">contact me</a>
            to discuss freelance work opportunities. I am an experienced frontend
            developer with a proven track record of success. I am proficient in
            HTML, CSS, JavaScript, and React. I am available to work on a freelance
            basis.
          </p>
        </div>
        <a href="mailto:callum@wrux.com" class="button">Get in contact</a>
      </div>
    </section>

    <!-- <section class="mb-spacing w-full overflow-hidden">
      <div class="container max-w-full text-center">
        <Paragraph as="h2" textStyle="h2">Recent Work</Paragraph>
      </div>
      <Projects projects={recentWork} />
    </section> -->
  </main>

  <footer class="m-spacing">
    <div
      class="container flex flex-col items-center justify-between gap-8 md:flex-row md:gap-12 lg:gap-16"
    >
      <Logo className="text-step-1" />
      <nav aria-label="Footer navigation">
        <ul
          class="c-p flex flex-col gap-8 text-center md:flex-row md:flex-wrap"
        >
          {
            links.map((link) => (
              <li>
                <a
                  href={link.href}
                  target="_blank"
                  rel="nofollow noreferer"
                  class="link"
                >
                  {link.name}
                  <span class="sr-only">(opens in new tab)</span>
                </a>
              </li>
            ))
          }
        </ul>
      </nav>
    </div>
  </footer>
</Layout>

<script>
  // const scrollIndicator = document.getElementById('scroll-indicator');
  // const tryToShowIndicator = () =>
  //   scrollIndicator?.classList.toggle(
  //     'opacity-0',
  //     (window.scrollY / window.outerHeight) * 100 > 20
  //   );

  // if (scrollIndicator) {
  //   document.addEventListener('DOMContentLoaded', () => {
  //     setTimeout(tryToShowIndicator, 1100);
  //   });

  //   window.addEventListener('scroll', tryToShowIndicator, { passive: true });
  // }
</script>

<style scoped>
  /* .animated-subheading {
    animation-name: animateSubheadIn;
    animation-duration: 300ms;
    animation-delay: 1100ms;
    animation-fill-mode: both;
    animation-timing-function: ease-out;
  }

  @keyframes animateSubheadIn {
    0% {
      opacity: 0;
    }

    100% {
      opacity: 1;
    }
  } */
</style>
