---
import { ContactForm, SiteFooter, SiteHeader } from 'components';
import { approaches, description, services } from 'data';
import { Layout } from 'layouts';
---

<Layout
  title="Web Development Services in Oxfordshire | wrux.com"
  description={description}
>
  <SiteHeader />

  <main>
    <section class="my-spacing">
      <div class="container text-center lg:max-w-4xl">
        <h1 class="c-h1 mb-4 leading-tight md:mb-8">
          Your Oxfordshire based Web Development Agency
        </h1>
        <lottie-player
          class="pointer-events-none mx-auto mb-8 block aspect-[672/464] h-auto max-w-2xl"
          src="https://lottie.host/a1881fee-27e5-4598-be52-2d6bbf57ec4f/Jb0BC6ndX7.json"
          background="transparent"
          speed="0.333"
          loop
          autoplay
        >
        </lottie-player>
        <p class="c-h4">
          Are you looking for <span class="font-semibold">web development</span>
          that can help you take your business to the next level? We are experienced
          web developers based in Oxfordshire and specialize in creating websites
          that are both beautiful and functional.
        </p>
      </div>
    </section>

    <section class="md:py-22 my-spacing bg-dark py-16">
      <div class="container text-center lg:max-w-6xl">
        <h2 class="c-h2 text-primary">Our services</h2>
        <p class="lg:mb-22 c-p-lg mb-8 md:mb-16">
          We offer a wide range of web development services
        </p>
        <ul class="grid justify-center gap-16 md:gap-y-24 lg:grid-cols-3">
          {
            services.map((service) => (
              <li class="max-w-xl">
                <svg class="mx-auto mb-6 h-12 w-12 text-primary">
                  <use href={`/assets/icons.svg#${service.icon}`} />
                </svg>
                <h3 class="mb-3 text-step-1 font-semibold leading-tight">
                  {service.title}
                </h3>
                <p class="c-p">{service.description}</p>
              </li>
            ))
          }
        </ul>
      </div>
    </section>

    <section class="my-spacing">
      <div class="container lg:max-w-6xl">
        <h2 class="c-h2 mb-8 text-center lg:mb-16">Our Approach</h2>
        <div class="flex flex-col gap-16">
          {
            approaches.map((approach, index) => (
              <div
                class:list={[
                  'flex flex-col gap-8 lg:gap-16',
                  index % 2 === 0 ? 'lg:flex-row' : 'lg:flex-row-reverse',
                ]}
              >
                <div class="grid max-w-md flex-1 place-items-center lg:max-w-[40%]">
                  <div class="grid aspect-video w-full max-w-sm place-items-center bg-gray-900">
                    ILLUSTRATION HERE
                  </div>
                </div>
                <div class="flex-1 bg-dark px-8 lg:rounded-xl lg:py-16">
                  <span
                    aria-hidden
                    class="mb-4 grid h-16 w-16 place-items-center rounded-full bg-secondary text-step-2 leading-none text-white"
                  >
                    {index + 1}
                  </span>
                  <h3 class="c-h3 mb-2">
                    <span class="sr-only">Approach {index + 1}:</span>
                    {approach.title}
                  </h3>
                  <p class="c-p">{approach.summary}</p>
                </div>
              </div>
            ))
          }
        </div>
      </div>
    </section>

    <section class="my-spacing bg-dark py-16 lg:bg-transparent lg:py-0">
      <div class="mx-auto max-w-7xl lg:px-8">
        <div class="grid items-center gap-8 md:gap-12 lg:grid-cols-2 lg:gap-24">
          <div class="container lg:px-0">
            <h2 class="c-h2">Contact us</h2>
            <p class="c-h4">
              If you are interested in learning more about our services, please
              contact us today. We would be happy to discuss your needs and
              provide you with a free consultation.
            </p>
          </div>
          <div class="bg-dark px-8 lg:rounded-xl lg:py-16">
            <div class="mx-auto max-w-sm">
              <ContactForm />
            </div>
          </div>
        </div>
      </div>
    </section>
  </main>

  <SiteFooter />
</Layout>
