---
import ExternalLink from '../components/ExternalLink.astro';
import Paragraph from '../components/Paragraph.astro';

export interface Props {
  links: Array<Link>;
}

const { links } = Astro.props;
---

<nav slot="main" class="flex flex-col gap-16">
  <ul class="space-y-8 md:space-y-16">
    {
      links.map((link) => (
        <li class="space-y-2 md:space-y-4">
          <Paragraph textStyle="p-lg">{link.name}</Paragraph>
          {link.description && (
            <div class="max-w-prose">
              <Paragraph set:html={link.description} />
            </div>
          )}
          <ExternalLink href={link.href} newTab={link.newTab}>
            {link.text}
          </ExternalLink>
        </li>
      ))
    }
  </ul>
</nav>
